Repository tumf/slack-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, trailing-whitespace, check-toml

.pre-commit-config.yaml:

# Configuration for prek (pre-commit compatible)
# See https://prek.j178.dev/ for more information

repos:
  - repo: local
    hooks:
      # Check Rust code formatting
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code using rustfmt
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false

      # Run Rust linter
      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      # Check for trailing whitespace (only in Rust files)
      - id: trailing-whitespace
        name: trailing whitespace
        description: Check for trailing whitespace in Rust files
        entry: bash -c 'for file in "$@"; do if grep -q "[[:space:]]$" "$file"; then echo "Trailing whitespace in $file"; exit 1; fi; done'
        language: system
        types: [rust]

      # Ensure files end with newline
      - id: end-of-file-fixer
        name: end of file fixer
        description: Ensure files end with newline
        entry: bash -c 'for file in "$@"; do if [ -n "$(tail -c 1 "$file")" ]; then echo >> "$file"; fi; done'
        language: system
        types: [text]

      # Check TOML syntax
      - id: check-toml
        name: check toml
        description: Check TOML syntax (Cargo.toml)
        entry: bash -c 'for file in "$@"; do cargo read-manifest --manifest-path "$file" > /dev/null 2>&1 || exit 1; done'
        language: system
        files: ^.*Cargo\.toml$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml

docs: add OpenSpec proposal for file download UX hardening
  openspec/changes/2026-02-07-harden-file-download-ux/design.md
  openspec/changes/2026-02-07-harden-file-download-ux/proposal.md
  openspec/changes/2026-02-07-harden-file-download-ux/specs/wrapper-commands/spec.md
  openspec/changes/2026-02-07-harden-file-download-ux/tasks.md
Due: none

chore: Improve setup and dependency management for Git hooks
  .wt/setup
Due: none

Apply: 2026-02-07-harden-file-download-ux
  openspec/changes/2026-02-07-harden-file-download-ux/tasks.md
  src/commands/file.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

fix: Refactor file download API to use form/query for file ID
  openspec/changes/fix-file-download-files-info-params/design.md
  openspec/changes/fix-file-download-files-info-params/proposal.md
  openspec/changes/fix-file-download-files-info-params/specs/wrapper-commands/spec.md
  openspec/changes/fix-file-download-files-info-params/tasks.md
Due: none

Apply: 2026-02-07-harden-file-download-ux
  openspec/changes/2026-02-07-harden-file-download-ux/tasks.md
  src/commands/file.rs
  tests/file_download_integration.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

Apply: 2026-02-07-harden-file-download-ux
  openspec/changes/2026-02-07-harden-file-download-ux/tasks.md
  tests/file_download_integration.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

Apply: fix-file-download-files-info-params
  openspec/changes/fix-file-download-files-info-params/proposal.md
  openspec/changes/fix-file-download-files-info-params/tasks.md
  src/commands/file.rs
  tests/commands_integration.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

Archive: 2026-02-07-harden-file-download-ux
  openspec/changes/archive/2026-02-07-2026-02-07-harden-file-download-ux/design.md
  openspec/changes/archive/2026-02-07-2026-02-07-harden-file-download-ux/proposal.md
  openspec/changes/archive/2026-02-07-2026-02-07-harden-file-download-ux/specs/wrapper-commands/spec.md
  openspec/changes/archive/2026-02-07-2026-02-07-harden-file-download-ux/tasks.md
  openspec/specs/wrapper-commands/spec.md
Due: none

chore: release 0.1.48
  Cargo.lock
  Cargo.toml
Due: check-toml

Archive: fix-file-download-files-info-params
  openspec/changes/archive/2026-02-07-fix-file-download-files-info-params/design.md
  openspec/changes/archive/2026-02-07-fix-file-download-files-info-params/proposal.md
  openspec/changes/archive/2026-02-07-fix-file-download-files-info-params/specs/wrapper-commands/spec.md
  openspec/changes/archive/2026-02-07-fix-file-download-files-info-params/tasks.md
  openspec/specs/wrapper-commands/spec.md
Due: none

chore: release 0.1.49
  Cargo.lock
  Cargo.toml
Due: check-toml

fix: Enhance macOS Keychain token persistence
  KEYRING_FIX.md
Due: none

docs: add openspec proposals for issues 21-25
  openspec/changes/add-auth-import-dry-run/design.md
  openspec/changes/add-auth-import-dry-run/proposal.md
  openspec/changes/add-auth-import-dry-run/specs/auth-export-import/spec.md
  openspec/changes/add-auth-import-dry-run/tasks.md
  openspec/changes/add-auth-import-machine-readable-reporting/design.md
  openspec/changes/add-auth-import-machine-readable-reporting/proposal.md
  openspec/changes/add-auth-import-machine-readable-reporting/specs/auth-export-import/spec.md
  openspec/changes/add-auth-import-machine-readable-reporting/tasks.md
  openspec/changes/add-doctor-diagnostics-command/design.md
  openspec/changes/add-doctor-diagnostics-command/proposal.md
  openspec/changes/add-doctor-diagnostics-command/specs/doctor-diagnostics/spec.md
  openspec/changes/add-doctor-diagnostics-command/tasks.md
  openspec/changes/add-file-download-regression-coverage/design.md
  openspec/changes/add-file-download-regression-coverage/proposal.md
  openspec/changes/add-file-download-regression-coverage/specs/wrapper-commands/spec.md
  openspec/changes/add-file-download-regression-coverage/tasks.md
  openspec/changes/stabilize-token-json-serialization/design.md
  openspec/changes/stabilize-token-json-serialization/proposal.md
  openspec/changes/stabilize-token-json-serialization/specs/file-token-storage/spec.md
  openspec/changes/stabilize-token-json-serialization/tasks.md
Due: none

docs: add openspec proposal for issue 20 token path resolution
  openspec/changes/respect-xdg-data-home-token-path/design.md
  openspec/changes/respect-xdg-data-home-token-path/proposal.md
  openspec/changes/respect-xdg-data-home-token-path/specs/auth-status/spec.md
  openspec/changes/respect-xdg-data-home-token-path/specs/file-token-storage/spec.md
  openspec/changes/respect-xdg-data-home-token-path/tasks.md
Due: none

docs: add openspec proposal for issue 26 subcommand help
  openspec/changes/fix-auth-export-import-subcommand-help/design.md
  openspec/changes/fix-auth-export-import-subcommand-help/proposal.md
  openspec/changes/fix-auth-export-import-subcommand-help/specs/auth-export-import/spec.md
  openspec/changes/fix-auth-export-import-subcommand-help/tasks.md
Due: none

Apply: stabilize-token-json-serialization
  openspec/changes/stabilize-token-json-serialization/tasks.md
  openspec/specs/file-token-storage/spec.md
  src/profile/token_store.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

Apply: respect-xdg-data-home-token-path
  openspec/changes/respect-xdg-data-home-token-path/tasks.md
  src/auth/commands.rs
  src/profile/token_store.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

Archive: stabilize-token-json-serialization
  openspec/changes/archive/2026-02-07-stabilize-token-json-serialization/design.md
  openspec/changes/archive/2026-02-07-stabilize-token-json-serialization/proposal.md
  openspec/changes/archive/2026-02-07-stabilize-token-json-serialization/specs/file-token-storage/spec.md
  openspec/changes/archive/2026-02-07-stabilize-token-json-serialization/tasks.md
  openspec/specs/file-token-storage/spec.md
Due: none

chore: release 0.1.50
  Cargo.lock
  Cargo.toml
Due: check-toml

Apply: add-auth-import-machine-readable-reporting
  openspec/changes/add-auth-import-machine-readable-reporting/specs/auth-export-import/spec.md
  openspec/changes/add-auth-import-machine-readable-reporting/tasks.md
  src/auth/export_import.rs
  src/auth/mod.rs
  src/cli/handlers.rs
  tests/export_import_integration.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

Archive: respect-xdg-data-home-token-path
  openspec/changes/archive/2026-02-07-respect-xdg-data-home-token-path/design.md
  openspec/changes/archive/2026-02-07-respect-xdg-data-home-token-path/proposal.md
  openspec/changes/archive/2026-02-07-respect-xdg-data-home-token-path/specs/auth-status/spec.md
  openspec/changes/archive/2026-02-07-respect-xdg-data-home-token-path/specs/file-token-storage/spec.md
  openspec/changes/archive/2026-02-07-respect-xdg-data-home-token-path/tasks.md
  openspec/specs/auth-status/spec.md
  openspec/specs/file-token-storage/spec.md
Due: none

chore: release 0.1.51
  Cargo.lock
  Cargo.toml
Due: check-toml

Apply: add-file-download-regression-coverage
  openspec/changes/add-file-download-regression-coverage/specs/wrapper-commands/spec.md
  openspec/changes/add-file-download-regression-coverage/tasks.md
  tests/file_download_integration.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

Apply: fix-auth-export-import-subcommand-help
  openspec/changes/fix-auth-export-import-subcommand-help/tasks.md
  src/cli/handlers.rs
  src/cli/help.rs
  src/cli/mod.rs
  tests/export_import_integration.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

Apply: add-auth-import-machine-readable-reporting
  openspec/changes/add-auth-import-machine-readable-reporting/tasks.md
  src/auth/export_import.rs
  tests/export_import_integration.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

Archive: add-file-download-regression-coverage
  openspec/changes/archive/2026-02-07-add-file-download-regression-coverage/design.md
  openspec/changes/archive/2026-02-07-add-file-download-regression-coverage/proposal.md
  openspec/changes/archive/2026-02-07-add-file-download-regression-coverage/specs/wrapper-commands/spec.md
  openspec/changes/archive/2026-02-07-add-file-download-regression-coverage/tasks.md
  openspec/specs/wrapper-commands/spec.md
Due: none

chore: release 0.1.52
  Cargo.lock
  Cargo.toml
Due: check-toml

Archive: fix-auth-export-import-subcommand-help
  openspec/changes/archive/2026-02-07-fix-auth-export-import-subcommand-help/design.md
  openspec/changes/archive/2026-02-07-fix-auth-export-import-subcommand-help/proposal.md
  openspec/changes/archive/2026-02-07-fix-auth-export-import-subcommand-help/specs/auth-export-import/spec.md
  openspec/changes/archive/2026-02-07-fix-auth-export-import-subcommand-help/tasks.md
  openspec/specs/auth-export-import/spec.md
Due: none

chore: release 0.1.53
  Cargo.lock
  Cargo.toml
Due: check-toml

Apply: add-auth-import-machine-readable-reporting
  openspec/changes/add-auth-import-machine-readable-reporting/tasks.md
  src/auth/export_import.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

Archive: add-auth-import-machine-readable-reporting
  openspec/changes/archive/2026-02-07-add-auth-import-machine-readable-reporting/design.md
  openspec/changes/archive/2026-02-07-add-auth-import-machine-readable-reporting/proposal.md
  openspec/changes/archive/2026-02-07-add-auth-import-machine-readable-reporting/specs/auth-export-import/spec.md
  openspec/changes/archive/2026-02-07-add-auth-import-machine-readable-reporting/tasks.md
  openspec/specs/auth-export-import/spec.md
Due: none

chore: release 0.1.54
  Cargo.lock
  Cargo.toml
Due: check-toml

Apply: add-doctor-diagnostics-command
  openspec/changes/add-doctor-diagnostics-command/deltas/doctor-diagnostics/spec.md
  openspec/changes/add-doctor-diagnostics-command/tasks.md
  src/commands/doctor.rs
  src/commands/mod.rs
  src/main.rs
  tests/doctor_integration_tests.rs
  tests/file_download_integration.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

Apply: add-auth-import-dry-run
  openspec/changes/add-auth-import-dry-run/specs/auth-export-import/spec.md
  openspec/changes/add-auth-import-dry-run/tasks.md
  src/auth/export_import.rs
  src/auth/mod.rs
  src/cli/handlers.rs
  src/cli/introspection.rs
  tests/export_import_integration.rs
  tests/file_download_integration.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

Archive: add-auth-import-dry-run
  openspec/changes/archive/2026-02-07-add-auth-import-dry-run/design.md
  openspec/changes/archive/2026-02-07-add-auth-import-dry-run/proposal.md
  openspec/changes/archive/2026-02-07-add-auth-import-dry-run/specs/auth-export-import/spec.md
  openspec/changes/archive/2026-02-07-add-auth-import-dry-run/tasks.md
  openspec/specs/auth-export-import/spec.md
Due: none

Apply: add-doctor-diagnostics-command
  openspec/changes/add-doctor-diagnostics-command/tasks.md
  src/commands/doctor.rs
  src/main.rs
  tests/doctor_integration_tests.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

chore: release 0.1.55
  Cargo.lock
  Cargo.toml
Due: check-toml

Archive: add-doctor-diagnostics-command
  openspec/changes/archive/2026-02-07-add-doctor-diagnostics-command/deltas/doctor-diagnostics/spec.md
  openspec/changes/archive/2026-02-07-add-doctor-diagnostics-command/design.md
  openspec/changes/archive/2026-02-07-add-doctor-diagnostics-command/proposal.md
  openspec/changes/archive/2026-02-07-add-doctor-diagnostics-command/specs/doctor-diagnostics/spec.md
  openspec/changes/archive/2026-02-07-add-doctor-diagnostics-command/tasks.md
  openspec/specs/doctor-diagnostics/spec.md
Due: none

chore: release 0.1.56
  Cargo.lock
  Cargo.toml
Due: check-toml

docs: document auth import dry-run and json flags
  src/cli/help.rs
  tests/doctor_integration_tests.rs
  tests/export_import_integration.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace
