Repository tumf/slack-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, trailing-whitespace, check-toml

.pre-commit-config.yaml:

# Configuration for prek (pre-commit compatible)
# See https://prek.j178.dev/ for more information

repos:
  - repo: local
    hooks:
      # Check Rust code formatting
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code using rustfmt
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false

      # Run Rust linter
      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      # Check for trailing whitespace (only in Rust files)
      - id: trailing-whitespace
        name: trailing whitespace
        description: Check for trailing whitespace in Rust files
        entry: bash -c 'for file in "$@"; do if grep -q "[[:space:]]$" "$file"; then echo "Trailing whitespace in $file"; exit 1; fi; done'
        language: system
        types: [rust]

      # Ensure files end with newline
      - id: end-of-file-fixer
        name: end of file fixer
        description: Ensure files end with newline
        entry: bash -c 'for file in "$@"; do if [ -n "$(tail -c 1 "$file")" ]; then echo >> "$file"; fi; done'
        language: system
        types: [text]

      # Check TOML syntax
      - id: check-toml
        name: check toml
        description: Check TOML syntax (Cargo.toml)
        entry: bash -c 'for file in "$@"; do cargo read-manifest --manifest-path "$file" > /dev/null 2>&1 || exit 1; done'
        language: system
        files: ^.*Cargo\.toml$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml

Apply: add-conv-history-users-field
  openspec/changes/add-conv-history-users-field/tasks.md
  src/cli/mod.rs
  src/commands/conv/format.rs
  src/commands/conv/mod.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

Archive: add-conv-history-users-field
  openspec/changes/archive/2026-05-27-add-conv-history-users-field/proposal.md
  openspec/changes/archive/2026-05-27-add-conv-history-users-field/specs/conv-history-users/spec.md
  openspec/changes/archive/2026-05-27-add-conv-history-users-field/tasks.md
  openspec/specs/conv-history-users/spec.md
Due: none

docs: restructure README for readability, extract auth details
  README.md
  docs/authentication.md
Due: none

chore: release 0.1.71
  Cargo.lock
  Cargo.toml
Due: check-toml

proposal: fix thread resolved users
  openspec/changes/fix-thread-resolved-users/proposal.md
  openspec/changes/fix-thread-resolved-users/specs/thread-command/spec.md
  openspec/changes/fix-thread-resolved-users/tasks.md
Due: none

Apply: fix-thread-resolved-users
  openspec/changes/fix-thread-resolved-users/tasks.md
  src/cli/introspection.rs
  src/cli/mod.rs
  src/commands/conv/format.rs
  src/commands/conv/mod.rs
  tests/thread_integration_tests.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

Archive: fix-thread-resolved-users
  openspec/changes/archive/2026-06-08-fix-thread-resolved-users/proposal.md
  openspec/changes/archive/2026-06-08-fix-thread-resolved-users/specs/thread-command/spec.md
  openspec/changes/archive/2026-06-08-fix-thread-resolved-users/tasks.md
  openspec/specs/thread-command/spec.md
Due: none

proposal: fix thread user resolution failures
  openspec/changes/fix-thread-user-resolution-failures/proposal.md
  openspec/changes/fix-thread-user-resolution-failures/specs/thread-command/spec.md
  openspec/changes/fix-thread-user-resolution-failures/tasks.md
Due: none

Apply: fix-thread-user-resolution-failures
  openspec/changes/fix-thread-user-resolution-failures/tasks.md
  src/cli/mod.rs
  src/commands/conv/format.rs
  tests/thread_integration_tests.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

WIP: fix-thread-user-resolution-failures (6/9 tasks, apply#1)
  openspec/changes/fix-thread-user-resolution-failures/tasks.md
Due: none

Apply: fix-thread-user-resolution-failures
  openspec/changes/fix-thread-user-resolution-failures/tasks.md
  src/cli/mod.rs
  tests/thread_integration_tests.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

Apply: fix-thread-user-resolution-failures
  openspec/changes/fix-thread-user-resolution-failures/tasks.md
  tests/thread_integration_tests.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

Archive: fix-thread-user-resolution-failures
  openspec/changes/archive/2026-06-08-fix-thread-user-resolution-failures/proposal.md
  openspec/changes/archive/2026-06-08-fix-thread-user-resolution-failures/specs/thread-command/spec.md
  openspec/changes/archive/2026-06-08-fix-thread-user-resolution-failures/tasks.md
  openspec/specs/thread-command/spec.md
Due: none

docs: correct thread resolved users response path
  openspec/changes/archive/2026-06-08-fix-thread-user-resolution-failures/proposal.md
  openspec/changes/archive/2026-06-08-fix-thread-user-resolution-failures/specs/thread-command/spec.md
  openspec/changes/archive/2026-06-08-fix-thread-user-resolution-failures/tasks.md
  openspec/specs/thread-command/spec.md
  src/cli/introspection.rs
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

Update agent configs and gitignore
  .gitignore
  AGENTS.md
Due: none

docs: require confirmation for profile export
  skills/slack-rs/SKILL.md
Due: none

checkpoint: finalize review-gauntlet session RGS-d7d1a8919a6e
  .review-gauntlet/checkpoints/RGC-423a908c9173-RGS-d7d1a8919a6e/events.json
  .review-gauntlet/checkpoints/RGC-423a908c9173-RGS-d7d1a8919a6e/findings.json
  .review-gauntlet/checkpoints/RGC-423a908c9173-RGS-d7d1a8919a6e/status.json
  .review-gauntlet/checkpoints/RGC-423a908c9173-RGS-d7d1a8919a6e/summary.md
  .review-gauntlet/checkpoints/latest
Due: none
