Repository tumf/slack-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, trailing-whitespace, check-toml

cargo-fmt:
  name: cargo fmt
  description: Format Rust code using rustfmt
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

trailing-whitespace:
  name: trailing whitespace
  description: Check for trailing whitespace in Rust files
  entry: bash -c 'for file in "$@"; do if grep -q "[[:space:]]$" "$file"; then echo "Trailing whitespace in $file"; exit 1; fi; done'
  language: system

check-toml:
  name: check toml
  description: Check TOML syntax (Cargo.toml)
  entry: bash -c 'for file in "$@"; do cargo read-manifest --manifest-path "$file" > /dev/null 2>&1 || exit 1; done'
  language: system

chore: release 0.1.57
  Cargo.lock
  Cargo.toml
Due: check-toml

test: stabilize token store serialization tests
  src/profile/token_store.rs
  tests/doctor_integration_tests.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

docs(openspec): add segmented refactoring change proposals
  openspec/changes/deduplicate-oauth-flow/design.md
  openspec/changes/deduplicate-oauth-flow/proposal.md
  openspec/changes/deduplicate-oauth-flow/specs/oauth-login/spec.md
  openspec/changes/deduplicate-oauth-flow/tasks.md
  openspec/changes/extract-main-error-handling/design.md
  openspec/changes/extract-main-error-handling/proposal.md
  openspec/changes/extract-main-error-handling/specs/wrapper-commands/spec.md
  openspec/changes/extract-main-error-handling/tasks.md
  openspec/changes/refactor-main-command-dispatch/design.md
  openspec/changes/refactor-main-command-dispatch/proposal.md
  openspec/changes/refactor-main-command-dispatch/specs/wrapper-commands/spec.md
  openspec/changes/refactor-main-command-dispatch/tasks.md
  openspec/changes/split-api-call-token-resolution/design.md
  openspec/changes/split-api-call-token-resolution/proposal.md
  openspec/changes/split-api-call-token-resolution/specs/api-call/spec.md
  openspec/changes/split-api-call-token-resolution/tasks.md
  openspec/changes/split-auth-login-arg-parsing/design.md
  openspec/changes/split-auth-login-arg-parsing/proposal.md
  openspec/changes/split-auth-login-arg-parsing/specs/oauth-login/spec.md
  openspec/changes/split-auth-login-arg-parsing/tasks.md
Due: none

docs(openspec): merge overlapping refactor proposals
  openspec/changes/deduplicate-oauth-flow/design.md
  openspec/changes/deduplicate-oauth-flow/proposal.md
  openspec/changes/deduplicate-oauth-flow/specs/oauth-login/spec.md
  openspec/changes/deduplicate-oauth-flow/tasks.md
  openspec/changes/extract-main-error-handling/design.md
  openspec/changes/extract-main-error-handling/proposal.md
  openspec/changes/extract-main-error-handling/specs/wrapper-commands/spec.md
  openspec/changes/extract-main-error-handling/tasks.md
  openspec/changes/split-auth-login-arg-parsing/design.md
  openspec/changes/split-auth-login-arg-parsing/proposal.md
  openspec/changes/split-auth-login-arg-parsing/specs/oauth-login/spec.md
  openspec/changes/split-auth-login-arg-parsing/tasks.md
Due: none

Apply: split-api-call-token-resolution
  openspec/changes/split-api-call-token-resolution/tasks.md
  src/cli/handlers.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

Apply: split-auth-login-arg-parsing
  openspec/changes/split-auth-login-arg-parsing/tasks.md
  src/cli/handlers.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

Apply: refactor-main-command-dispatch
  openspec/changes/refactor-main-command-dispatch/tasks.md
  src/main.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

Archive: split-auth-login-arg-parsing
  openspec/changes/archive/2026-02-08-split-auth-login-arg-parsing/design.md
  openspec/changes/archive/2026-02-08-split-auth-login-arg-parsing/proposal.md
  openspec/changes/archive/2026-02-08-split-auth-login-arg-parsing/specs/oauth-login/spec.md
  openspec/changes/archive/2026-02-08-split-auth-login-arg-parsing/tasks.md
  openspec/specs/oauth-login/spec.md
Due: none

chore: release 0.1.58
  Cargo.lock
  Cargo.toml
Due: check-toml

Archive: split-api-call-token-resolution
  openspec/changes/archive/2026-02-08-split-api-call-token-resolution/design.md
  openspec/changes/archive/2026-02-08-split-api-call-token-resolution/proposal.md
  openspec/changes/archive/2026-02-08-split-api-call-token-resolution/specs/api-call/spec.md
  openspec/changes/archive/2026-02-08-split-api-call-token-resolution/tasks.md
  openspec/changes/split-api-call-token-resolution/specs/api-call/spec.md
  openspec/specs/api-call/spec.md
Due: none

Archive: refactor-main-command-dispatch
  openspec/changes/archive/2026-02-08-refactor-main-command-dispatch/design.md
  openspec/changes/archive/2026-02-08-refactor-main-command-dispatch/proposal.md
  openspec/changes/archive/2026-02-08-refactor-main-command-dispatch/specs/wrapper-commands/spec.md
  openspec/changes/archive/2026-02-08-refactor-main-command-dispatch/tasks.md
  openspec/changes/refactor-main-command-dispatch/specs/wrapper-commands/spec.md
Due: none

chore: release 0.1.59
  Cargo.lock
  Cargo.toml
Due: check-toml

chore: release 0.1.60
  Cargo.lock
  Cargo.toml
Due: check-toml

docs: add Serena memory files for project documentation
  .serena/memories/done_checklist.md
  .serena/memories/project_overview.md
  .serena/memories/style_conventions.md
  .serena/memories/suggested_commands.md
Due: none

docs: add install-skill change proposal
  openspec/changes/add-skill-installation/.openspec.yaml
  openspec/changes/add-skill-installation/design.md
  openspec/changes/add-skill-installation/proposal.md
  openspec/changes/add-skill-installation/specs/skill-installation/spec.md
  openspec/changes/add-skill-installation/tasks.md
Due: none

docs: Add documentation for `slack-rs` CLI skill
  skills/.gitignore
  skills/slack-rs/README.md
  skills/slack-rs/SKILL.md
  skills/slack-rs/references/recipes.md
Due: none

docs: refine embedded skill installation proposal
  openspec/changes/add-skill-installation/design.md
  openspec/changes/add-skill-installation/proposal.md
  openspec/changes/add-skill-installation/specs/skill-installation/spec.md
  openspec/changes/add-skill-installation/tasks.md
Due: none

docs: add executable implementation tasks for install-skill
  openspec/changes/add-skill-installation/tasks.md
Due: none

Apply: add-skill-installation
  openspec/changes/add-skill-installation/tasks.md
  src/cli/handlers.rs
  src/cli/introspection.rs
  src/cli/mod.rs
  src/lib.rs
  src/main.rs
  src/skills/mod.rs
  tests/skill_installation_integration.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

Apply: add-skill-installation
  openspec/changes/add-skill-installation/tasks.md
  src/cli/handlers.rs
  src/skills/mod.rs
  tests/skill_installation_integration.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

Archive: add-skill-installation
  openspec/changes/archive/2026-02-08-add-skill-installation/.openspec.yaml
  openspec/changes/archive/2026-02-08-add-skill-installation/design.md
  openspec/changes/archive/2026-02-08-add-skill-installation/proposal.md
  openspec/changes/archive/2026-02-08-add-skill-installation/specs/skill-installation/spec.md
  openspec/changes/archive/2026-02-08-add-skill-installation/tasks.md
  openspec/specs/skill-installation/spec.md
Due: none

chore: release 0.1.61
  Cargo.lock
  Cargo.toml
Due: check-toml

fix: align install-skill paths with project/global .agents
  src/cli/handlers.rs
  src/cli/introspection.rs
  src/main.rs
  src/skills/mod.rs
  tests/skill_installation_integration.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

feat: support agent-skills-rs v0.2 and rename install-skills command
  Cargo.lock
  Cargo.toml
  src/cli/handlers.rs
  src/cli/introspection.rs
  src/main.rs
  tests/skill_installation_integration.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace, check-toml

chore: release 0.1.62
  Cargo.lock
  Cargo.toml
Due: check-toml

fix: add missing newline at end of file
  .serena/memories/project_overview.md
Due: none

fix: normalize path comparison in skill installation test for Windows
  tests/skill_installation_integration.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

fix: serialize env var tests and remove slow help tests
  src/cli/handlers.rs
  tests/doctor_integration_tests.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

docs: add openspec change proposal for skip-missing-tokens-on-export
  openspec/changes/skip-missing-tokens-on-export/.openspec.yaml
  openspec/changes/skip-missing-tokens-on-export/design.md
  openspec/changes/skip-missing-tokens-on-export/proposal.md
  openspec/changes/skip-missing-tokens-on-export/specs/auth-export-import/spec.md
  openspec/changes/skip-missing-tokens-on-export/tasks.md
Due: none

Apply: skip-missing-tokens-on-export
  openspec/changes/skip-missing-tokens-on-export/tasks.md
  src/auth/export_import.rs
  src/auth/i18n.rs
  src/auth/mod.rs
  src/cli/handlers.rs
  src/profile/storage.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

Archive: skip-missing-tokens-on-export
  openspec/changes/archive/2026-02-10-skip-missing-tokens-on-export/.openspec.yaml
  openspec/changes/archive/2026-02-10-skip-missing-tokens-on-export/design.md
  openspec/changes/archive/2026-02-10-skip-missing-tokens-on-export/proposal.md
  openspec/changes/archive/2026-02-10-skip-missing-tokens-on-export/specs/auth-export-import/spec.md
  openspec/changes/archive/2026-02-10-skip-missing-tokens-on-export/tasks.md
  openspec/specs/auth-export-import/spec.md
Due: none

chore: release 0.1.63
  Cargo.lock
  Cargo.toml
Due: check-toml

fix: set USERPROFILE env on Windows for skill installation tests
  tests/skill_installation_integration.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

fix: skip HOME-dependent skill tests on Windows
  tests/skill_installation_integration.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

perf(ci): optimize GitHub Actions workflow to reduce consumption
  .github/workflows/ci.yml
Due: none

perf(ci): add Swatinem/rust-cache to lint and release workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: ensure code coverage never fails the CI pipeline
  .github/workflows/ci.yml
Due: none

docs: add OpenSpec change proposal for auth export user token fix
  openspec/changes/fix-auth-export-user-token/design.md
  openspec/changes/fix-auth-export-user-token/proposal.md
  openspec/changes/fix-auth-export-user-token/specs/auth-export-import-user-token/spec.md
  openspec/changes/fix-auth-export-user-token/tasks.md
Due: none

docs: improve tasks.md with detailed implementation steps
  openspec/changes/fix-auth-export-user-token/tasks.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  trailing-whitespace: any of: \.rs$
  check-toml: any of: ^.*Cargo\.toml$
