Repository tumf/slack-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, trailing-whitespace, check-toml

cargo-fmt:
  name: cargo fmt
  description: Format Rust code using rustfmt
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

trailing-whitespace:
  name: trailing whitespace
  description: Check for trailing whitespace in Rust files
  entry: bash -c 'for file in "$@"; do if grep -q "[[:space:]]$" "$file"; then echo "Trailing whitespace in $file"; exit 1; fi; done'
  language: system

check-toml:
  name: check toml
  description: Check TOML syntax (Cargo.toml)
  entry: bash -c 'for file in "$@"; do cargo read-manifest --manifest-path "$file" > /dev/null 2>&1 || exit 1; done'
  language: system

docs: switch OpenSpec tasks to checkbox list
  openspec/changes/fix-auth-export-user-token/tasks.md
Due: none

Apply: fix-auth-export-user-token
  openspec/changes/fix-auth-export-user-token/tasks.md
  src/auth/export_import.rs
  src/auth/format.rs
  tests/export_import_integration.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

Archive: fix-auth-export-user-token
  openspec/changes/archive/2026-02-12-fix-auth-export-user-token/design.md
  openspec/changes/archive/2026-02-12-fix-auth-export-user-token/proposal.md
  openspec/changes/archive/2026-02-12-fix-auth-export-user-token/specs/auth-export-import-user-token/spec.md
  openspec/changes/archive/2026-02-12-fix-auth-export-user-token/tasks.md
  openspec/specs/auth-export-import-user-token/spec.md
Due: none

chore: release 0.1.64
  Cargo.lock
  Cargo.toml
Due: check-toml

fix: avoid useless format in export/import tests
  src/auth/export_import.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

chore: use prek for local pre-commit workflow
  Makefile
Due: none

docs(openspec): propose GET query params for api call
  openspec/changes/fix-api-call-get-query-params/design.md
  openspec/changes/fix-api-call-get-query-params/proposal.md
  openspec/changes/fix-api-call-get-query-params/specs/api-call/spec.md
  openspec/changes/fix-api-call-get-query-params/tasks.md
Due: none

WIP: fix-api-call-get-query-params (6/6 tasks, apply#1)
  openspec/changes/fix-api-call-get-query-params/tasks.md
  src/api/call.rs
  src/api/client.rs
  tests/api_integration_tests.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

docs(openspec): propose thread get command
  openspec/changes/add-thread-get-command/design.md
  openspec/changes/add-thread-get-command/proposal.md
  openspec/changes/add-thread-get-command/specs/thread-command/spec.md
  openspec/changes/add-thread-get-command/tasks.md
Due: none

Archive: fix-api-call-get-query-params
  openspec/changes/archive/2026-02-15-fix-api-call-get-query-params/design.md
  openspec/changes/archive/2026-02-15-fix-api-call-get-query-params/proposal.md
  openspec/changes/archive/2026-02-15-fix-api-call-get-query-params/specs/api-call/spec.md
  openspec/changes/archive/2026-02-15-fix-api-call-get-query-params/tasks.md
  openspec/changes/fix-api-call-get-query-params/specs/api-call/spec.md
  openspec/specs/api-call/spec.md
Due: none

chore: release 0.1.65
  Cargo.lock
  Cargo.toml
Due: check-toml

Apply: add-thread-get-command
  openspec/changes/add-thread-get-command/tasks.md
  src/api/types.rs
  src/cli/introspection.rs
  src/cli/mod.rs
  src/commands/mod.rs
  src/commands/thread.rs
  src/main.rs
  tests/thread_integration_tests.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

test(thread): improve pagination test and add API method tests
  openspec/changes/add-thread-get-command/tasks.md
  src/api/client.rs
  src/main.rs
  tests/thread_integration_tests.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

docs(openspec): mark task 4.1 as complete
  openspec/changes/add-thread-get-command/tasks.md
Due: none

Archive: add-thread-get-command
  openspec/changes/archive/2026-02-15-add-thread-get-command/design.md
  openspec/changes/archive/2026-02-15-add-thread-get-command/proposal.md
  openspec/changes/archive/2026-02-15-add-thread-get-command/specs/thread-command/spec.md
  openspec/changes/archive/2026-02-15-add-thread-get-command/tasks.md
  openspec/specs/thread-command/spec.md
Due: none

chore: release 0.1.66
  Cargo.lock
  Cargo.toml
Due: check-toml

fix(help): list thread get in --help
  src/main.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

docs(skills): document thread get usage
  skills/slack-rs/README.md
  skills/slack-rs/SKILL.md
  skills/slack-rs/references/recipes.md
Due: none

chore: release 0.1.67
  Cargo.lock
  Cargo.toml
Due: check-toml

chore(opencode): add gh issue triage command
  .opencode/command/gh-issue-triage.md
Due: none

Add new tool with OAuth support for `SlackRs`
  .serena/project.yml
  Formula/slack_rs.rb
  README.md
Due: none

docs: add file upload encoding fix proposal
  openspec/changes/fix-file-upload-request-encoding/proposal.md
  openspec/changes/fix-file-upload-request-encoding/specs/wrapper-commands/spec.md
  openspec/changes/fix-file-upload-request-encoding/tasks.md
Due: none

WIP: fix-file-upload-request-encoding (0/4 tasks, apply#1)
  src/commands/file.rs
  tests/commands_integration.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

Apply: fix-file-upload-request-encoding
  openspec/changes/fix-file-upload-request-encoding/tasks.md
Due: none

Archive: fix-file-upload-request-encoding
  openspec/changes/archive/2026-03-20-fix-file-upload-request-encoding/proposal.md
  openspec/changes/archive/2026-03-20-fix-file-upload-request-encoding/specs/wrapper-commands/spec.md
  openspec/changes/archive/2026-03-20-fix-file-upload-request-encoding/tasks.md
  openspec/specs/wrapper-commands/spec.md
Due: none

chore: release 0.1.68
  Cargo.lock
  Cargo.toml
Due: check-toml

docs: propose manifest-first tunnel login flow
  openspec/changes/fix-manifest-first-login/proposal.md
  openspec/changes/fix-manifest-first-login/specs/oauth-login/spec.md
  openspec/changes/fix-manifest-first-login/specs/oauth-manifest-generation/spec.md
  openspec/changes/fix-manifest-first-login/tasks.md
Due: none

Apply: fix-manifest-first-login
  README.md
  openspec/changes/fix-manifest-first-login/tasks.md
  src/auth/commands.rs
  src/auth/manifest.rs
  src/auth/mod.rs
  src/cli/handlers.rs
  src/main.rs
  tests/manifest_generation_integration.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

Archive: fix-manifest-first-login
  openspec/changes/archive/fix-manifest-first-login/proposal.md
  openspec/changes/archive/fix-manifest-first-login/specs/oauth-login/spec.md
  openspec/changes/archive/fix-manifest-first-login/specs/oauth-manifest-generation/spec.md
  openspec/changes/archive/fix-manifest-first-login/tasks.md
  openspec/specs/oauth-login/spec.md
  openspec/specs/oauth-manifest-generation/spec.md
Due: none

chore: release 0.1.69
  Cargo.lock
  Cargo.toml
Due: check-toml

docs: add skill source-of-truth and slack posting rules
  AGENTS.md
  skills/slack-rs/SKILL.md
Due: none

chore: release 0.1.70
  Cargo.lock
  Cargo.toml
Due: check-toml

fix: resolve recurring security audit CI failures
  .github/workflows/ci.yml
  Cargo.lock
Due: none

feat: add optional JSON output for skill installation
  src/cli/handlers.rs
  src/cli/introspection.rs
  tests/skill_installation_integration.rs
Due: cargo-fmt, cargo-clippy, trailing-whitespace

refactor: move onboarding content to references
  skills/slack-rs/README.md
  skills/slack-rs/SKILL.md
  skills/slack-rs/references/setup.md
Due: none

remove opencode dir
  .opencode/command/gh-issue-triage.md
  .opencode/command/opsx-apply.md
  .opencode/command/opsx-archive.md
  .opencode/command/opsx-bulk-archive.md
  .opencode/command/opsx-continue.md
  .opencode/command/opsx-explore.md
  .opencode/command/opsx-ff.md
  .opencode/command/opsx-new.md
  .opencode/command/opsx-onboard.md
  .opencode/command/opsx-sync.md
  .opencode/command/opsx-verify.md
  .opencode/skills/openspec-apply-change/SKILL.md
  .opencode/skills/openspec-archive-change/SKILL.md
  .opencode/skills/openspec-bulk-archive-change/SKILL.md
  .opencode/skills/openspec-continue-change/SKILL.md
  .opencode/skills/openspec-explore/SKILL.md
  .opencode/skills/openspec-ff-change/SKILL.md
  .opencode/skills/openspec-new-change/SKILL.md
  .opencode/skills/openspec-onboard/SKILL.md
  .opencode/skills/openspec-sync-specs/SKILL.md
  .opencode/skills/openspec-verify-change/SKILL.md
Due: none

proposal: add-conv-history-users-field - enrich conv history/thread messages with users array
  openspec/changes/add-conv-history-users-field/proposal.md
  openspec/changes/add-conv-history-users-field/specs/conv-history-users/spec.md
  openspec/changes/add-conv-history-users-field/tasks.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  trailing-whitespace: any of: \.rs$
  check-toml: any of: ^.*Cargo\.toml$
